html, body {
    display: block;
    height: 100vh;
    font-size: 18px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

:global(#root) {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    height: 100%;
}